langchain==0.3.12  #RAG Framework
langchain-community==0.3.27 #RAG Framework
openai==1.57.4 #LLM
pinecone==5.4.2  # Vector DB
pypdf==6.6.0 #PDF Loader
sentence-transformers==3.3.1 #Transformers required for embeddings